<footer id="footer">
  <p class="copyright">
    &copy; dreamingechoes. Demo Images: <a href="https://unsplash.com">Unsplash</a>.
    Theme: <a href="https://html5up.net">HTML5 UP</a>.
  </p>
</footer>
