<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> 0.0.1
  </div>
  <i class="fa fa-code"></i> with <i class="fa fa-heart"></i> by <%= link "dreamingechoes", to: "http://dreamingecho.es" %>
</footer>
